<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>otc</title>
	<script type="text/javascript">
		window.OTC = {"id":"99","uid":"100996","avatar":"\/upload\/avatar\/1828ec60c050ca6a5dea6781091e358c.jpg","ga_status":"1","area_code":"0086","phone":"15669490762","username":"test","is_logged":1,"funds_password_status":1,"auth_status":"","pay":false,"base_url":"\/\/jtcool.com","api_url":"http://localhost:8000","cdn_url":"\/\/cn-cdn.jtcool.com","upload_url":"","ws_url":"ws.jtcool.com","version":"0.0.8"}
	</script>
</head>
<body>
	<div id="root">
	</div>
</body>
</html>
